/* Tailwind CSS v4 */
@import "tailwindcss";


html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Inter, Arial, sans-serif;
  background-color:black;
  color:white;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
}